---
import CardSlider from '../cardslider/CardSlider.vue';
---

  <div class="mb-16 flex flex-col  items-center mt-[150px]"> 
      <div id="spots-left" class="flex justify-center items-center">
          <div class="border-gray-700 text-center border bg-[#0d0d12] hover:border-[#E86DFC]/40 transition-colors duration-500 ease-in-out p-2 rounded-full w-[155px] h-[34px] flex justify-center items-center">
              <span class="relative flex h-[11px] w-[11px]">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#E86DFC] opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-[11px] w-[11px] bg-[#e96dfcbe]"></span>
              </span>
              <span class="text-[12px] mt-[1px] text-center font-bold text-[#9CA3AF] ml-2">100 Spots left</span>
          </div>
      </div>
       <div id="Hero-text" class="mt-10 text-center">
          <span class="lg:text-7xl text-5xl font-bold text-white flex">Your Future. Our Focus.</span>

          <p class="text-gray-400 mt-4">You are tired of being the 99% of the population who are on mobile for<br> 9 hours going to parties etc. you are in the right place, here you<br> become <span class="hover:text-[#E86DFC] underline transition-colors duration-1000 ease-linear cursor-pointer">1%</span></p>
      </div>
      <div class="relative inline-flex group">
          <div class="transition-all duration-500 ease-linear text-white sm:text-white sm:bg-[#171720] lg:text-gray-400 lg:hover:text-white lg:hover:border lg:hover:bg-[#171720] lg:bg-[#0d0d12] border px-6 py-3 rounded-full mt-12 lg:border-gray-700 sm:border-[#E86DFC]/40 lg:hover:border-[#E86DFC]/40"><a href="https://google.com/">Start Here &#128640;</a></div>
      </div>
      <CardSlider />
  </div>  
