---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/sections/Hero.astro';
import Cookies from '../components/elements/Cookies.astro';
import AboutUs from '../components/sections/OurProgram.astro';
import Pricing from '../components/sections/Pricing.astro';
import NotAsUsual from '../components/sections/NotAsUsual.astro';
import Footer from '../components/sections/footer.astro';
---

<Layout>
	<header>
		<NavBar />
	</header>
	<main class="">
		<Cookies />
		<Hero />
		<AboutUs />
		<Pricing />
		<NotAsUsual />
		<Footer />
	</main>
</Layout>