---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/sections/Hero.vue';
import Cookies from '../components/elements/Cookies.astro';
import AboutUs from '../components/sections/OurProgram.vue';
import Pricing from '../components/sections/Pricing.vue';
---

<Layout>
	<header>
		<NavBar />
	</header>
	<main>
		<Cookies />
		<Hero />
		<AboutUs />
		<Pricing />
	</main>
</Layout>