---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.vue';
import Cookies from '../components/Cookies.astro';
import AboutUs from '../components/AboutUs.vue';
---

<Layout>
	<header>
		<NavBar />
	</header>
	<main>
		<Cookies />
		<Hero />
		<AboutUs />
	</main>
</Layout>