---
import HeadSEO from '../components/HeadSEO.astro';
---

<!DOCTYPE html>
<html dir="ltr" lang="sk-SK">
	<head>
		<HeadSEO />
		<script is:inline type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
		<script is:inline>
		Calendly.initInlineWidget({
		"url": 'https://calendly.com/aperium',
		"parentElement": document.getElementById('calendly-div'),
		"prefill": {},
		"utm": {}
		});
		</script> 
		<script is:inline src="/scripts/lenis/lenis.js"></script>
		<script is:inline>
		  const lenis = new Lenis({ smooth: true, smoothTouch: true });
	
		  function raf(time) {
			lenis.raf(time);
			requestAnimationFrame(raf);
		  }
	
		  requestAnimationFrame(raf);
		</script>
	</head>
	<body class="font-satoshi bg-[#0d0d12]">
		<slot />
	</body>
</html>
<script is:inline src="./node_modules/preline/preline.js"></script>